/* top header */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.3);
}

/* section of header with content */
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;    
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    font-weight: 700;
    color: #6847E5;
    background: #6847E5;
    background: linear-gradient(135deg, #ea4d2c, #6847E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header's nav bar */
.navigation{
    float: right;
    height: 100%;
}

/* items in header's nav bar */
.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.navigation li:last-child{
    padding-right: 0;
}

.navigation .icon{
    padding-right: 10px;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #6847E5;
}

.navigation .active{
    font-weight: bold;  /* to visually'indicate' which page the user is on*/
}

.navigation li a:hover{
    cursor: pointer;
    color: #ED5565;
}

/* responsive nav bar... for smaller window size */
.check_button{
    font-size: 30px;
    color: #6847E5;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.check_button:hover{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#check_box{
    display: none;
}

/* small screen size: changing to 3-line button, nav bar when pressed*/
@media (max-width: 858px){
    .logo_container h1{
        font-size: 24px;
    }
    .check_button{
        display: block;
    }
    .navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(51, 51, 51);
        top: 80px;
        left: -100%; /* out of view, when button is clicked -> will 'slide in' */
        text-align: center;
        transition: all 0.5s;
        display: block;
    }
    .navigation li{
        margin: 40px 20% 0 10%;
        display: inline-block;
        clear: both;
        height: auto;
        line-height: 30px;
        font-size: 20px;
    }
    .navigation li a{
        color: white;
    }
    /* button is clicked */
    #check_box:checked ~ .navigation{
        left: 0%;
    }
}

@media (max-width: 400px){
    .logo_container h1{
        font-size: 16px;
    }
}
