*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* background -- gradient animation */
.background{
    width: 100vw;           
    height: 100vh;         
    background-color: rgb(246, 246, 246);
    overflow: auto;
}

/* top header */
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.15);
}

/* so that header adapts if window size is smaller */
@media (max-width: flex){
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
}

/* section of header with content */
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;    
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    font-weight: 700;
    background: linear-gradient(135deg, #ea4d2c, #5650de);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* header's nav bar */
.navigation{
    float: right;
    height: 100%;
}

/* items in header's nav bar */
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #6b46c2;
}

.navigation .active{
    font-weight: bold;  /* to visually'indicate' which page the user is on*/
}

.navigation a:hover{
    text-decoration: underline;
    text-decoration-color: rgba(86, 80, 222, 0.2);
    text-decoration-style: solid;
}

/* defining a long and short separators */
.long_separator{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.separator{
    display: block;
    height: 1px;
    width: 60px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

/* main content/text section */
.content_container{
    color: #161616;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 3% 5% 5% 5%;
    padding: 3% 5% 5% 5%;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.05);
}

.content_container h2{
    color: #6b46c2;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.content_container h3{
    font-weight: 600;
}

/* to separate container in ratio 2:1 */
.content_container .long_box{
    width: 66%;
    float: left;
    padding-right: 5%;
}
.content_container .short_box{
    width: 33%;
    float: right;
}

/* motto words in italic */
.content_container .long_box .motto_words{
    font-style: italic;
    font-weight: bold;
}

/* the round button */
.content_container .long_box .round_button{
    width: auto;
    padding: 15px 30px;
    margin: 5% 5% 0 0;
    display: inline-block;
    color: white;
    border-radius: 25px;
    background-color: #6b46c2;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.2s;
}

/* add drop shadow when hovering on button */
.content_container .long_box .round_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* my img */
.content_container .short_box img{
    width: 80%;
    margin: 0 0 0 10%;
    vertical-align: middle;
    border-radius: 50%;
}
