/* resetting it to be full width */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #0a1021;
    /* background-color: #f79131;
    background-image: linear-gradient(-120deg, #FF5722, #FFD54F);*/
    box-shadow: 0px -5px 20px 10px #585858;
}

header a:link{
    color: #ffffff;
}
header a:visited{
    color: #ffd5d5;
}


#header_text{
    /*color: #222a35;*/
    background: linear-gradient(to right, #30CFD0 0%, #f45e20 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    vertical-align: middle;
    display: inline-block;
    margin: 40px 0;
}

body{
    /*background-color: #eeeeee;*/
    background-image: linear-gradient(-120deg, #f45e20, #0e3f54);/*be6400*/
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:link{
    font-style: italic;
    font-weight: bold;
}

h2 {
    color: #595f6d;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 0;
}


/* navigation bar */
.top_nav{
    width: 60%;
    display: inline-block;
    text-align: right;
}
.top_nav ul{
    list-style: none;
    margin: 5% 0;
    padding: 0;
}
.top_nav ul li {
    display: inline-block;
}
.top_nav ul li a {
    padding: 10px 15px;
}

/* any element containing text -- leave a margin from the actual window border */
.content_container{
    margin-left: 5%;
    margin-right: 5%;
}
.content_container a:hover { 
    background-color: rgba(241, 241, 241, 0.5);
    border-radius: 25px;
} 

.about-me{
    background-color: #ffffff;
    border-radius: 25px;
    margin: 2%;
    box-shadow: 0px 10px 20px -5px #838383;
}

.text{
    padding: 2% 0;
    text-align: justify;
}

#img-of-me{
    float: right;
    margin: 0 2%;
    border-radius: 50%;
    box-shadow: 0px 10px 20px 0px #262626;
    z-index: 2;
    max-width: 30%;
}

footer{
    background-color: #222a35;
    font-style: italic;
    color: #ffffff;
    clear: both;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 5px 15px 10px #858585;
    z-index: -1;
}