*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root {
    --orange: #EA4D2C;
    --purple: #6847E5;
    --light-grey: #CCCCCC;
    --dark-grey: #161616;
}

/* background */
body{
    background: linear-gradient(135deg, var(--orange), var(--purple));
    background-attachment: fixed;
    display: block;
    text-align: center;
}

/* Note: moved header and footer to separate file */

/* defining a long and short separators */
.long_separator{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--light-grey);
    margin: 1em 0;
    padding: 0;
}

.separator{
    display: block;
    height: 1px;
    width: 60px;
    border: 0;
    border-top: 1px solid var(--light-grey);
    margin: 1em 0;
    padding: 0;
}

/* main content/text section */
.content_container{
    position: relative;
    top: 80px;
    color: var(--dark-grey);
    background-color: white;
    border-radius: 15px;
    margin: 3% 5% 5% 5%;
    padding: 3% 5% 5% 5%;
    font-size: 16px;
    text-align: left;
    overflow: visible;
    display: inline-block;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.05);
}

.content_container h2{
    color: var(--purple);
    font-size: 2.2em;
    margin-bottom: 20px;
}

.content_container h3{
    font-weight: 600;
}

/* to separate container in ratio approx 2:1 when screen is big enough */
.content_container .c1, .content_container .c3{
    width: 60%;
    float: left;
}
.content_container .c2{
    width: 36%;
    float: right;
}
/* when screen is smaller, change layout... */
@media(max-width: 858px){
    .content_container{
        text-align: left;
        padding: 5% 8% 5% 8%;
    }
    .content_container .c1, .content_container .c3{
        width: 100%;
        float: none;
    }
    .content_container .c2{
        position: relative;
        width: 40%;
        float: right;
        margin: 20px;
    }
}

/* motto words in italic */
.content_container .motto_words{
    font-style: italic;
    font-weight: bold;
}
.content_container .motto_words i{
    font-style: normal;
}

/* the round button */
.content_container .round_button{
    width: auto;
    padding: 13px 28px;
    margin: 5% 5% 0 0;
    display: inline-block;
    color: white;
    border-radius: 25px;
    background-color: var(--purple);
    border: 2px solid var(--purple);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.2s;
}

/* add drop shadow when hovering on button */
.content_container .round_button:hover {
    background-color: var(--orange);
    border-color: var(--orange); 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* the 'resume' round button */
.content_container .resume_button{
    color: var(--purple);
    background: none;
    box-shadow: none;
    border: 2px solid var(--purple);
}

/* resume button- change to solid colour when hovering */
.content_container .resume_button:hover {
    background-color: var(--purple);
    border-color: var(--purple);
    color:white;
}

/* the icons in c3 */
.content_container .c3 .icon{
    color: var(--purple);
    font-size: 1.5em;
    padding: 0 20px 0 20px;
}
.content_container .c3 .icon:hover{
    color: var(--orange);
}

/* my img */
.content_container .c2 img{
    width: 80%;
    margin: 0 0 0 10%;
    vertical-align: middle;
    border-radius: 50%;
}
