*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* background */
.background{
    width: 100vw;           
    height: 100vh;         
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

/* top header */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.15);
}

/* section of header with content */
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;    
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    font-weight: 700;
    background: linear-gradient(135deg, #ea4d2c, #6847E5);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* header's nav bar */
.navigation{
    float: right;
    height: 100%;
}

/* items in header's nav bar */
.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.navigation li:last-child{
    padding-right: 0;
}

.navigation .icon{
    padding-right: 10px;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #6847E5;
}

.navigation .active{
    font-weight: bold;  /* to visually'indicate' which page the user is on*/
}

.navigation li a:hover{
    cursor: pointer;
    color: #ED5565;
}

/* responsive nav bar... for smaller window size */
.check_button{
    font-size: 30px;
    color: #6847E5;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.check_button:hover{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#check_box{
    display: none;
}

/* small screen size: changing to 3-line button, nav bar when pressed*/
@media (max-width: 858px){
    .logo_container h1{
        font-size: 24px;
    }
    .check_button{
        display: block;
    }
    .navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(51, 51, 51);
        top: 80px;
        left: -100%; /* out of view, when button is clicked -> will 'slide in' */
        text-align: center;
        transition: all 0.5s;
        display: block;
    }
    .navigation li{
        margin: 40px 20% 0 10%;
        display: inline-block;
        clear: both;
        height: auto;
        line-height: 30px;
        font-size: 20px;
    }
    .navigation li a{
        color: white;
    }
    .navigation li a:hover{
        opacity: 0.6;
        color: white;
    }
    /* button is clicked */
    #check_box:checked ~ .navigation{
        left: 0%;
    }
}

@media (max-width: 400px){
    .logo_container h1{
        font-size: 16px;
    }
}

/* defining a long and short separators */
.long_separator{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.separator{
    display: block;
    height: 1px;
    width: 60px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

/* main content/text section */
.content_container{
    position: relative;
    top: 80px;
    color: #161616;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 3% 5% 5% 5%;
    padding: 3% 5% 5% 5%;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0px -5px 20px 10px rgba(0,0,0,0.05);
}

.content_container h2{
    color: #6847E5;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.content_container h3{
    font-weight: 600;
}

/* to separate container in ratio approx 2:1 */
.content_container .c1, .content_container .c3{
    width: 60%;
    float: left;
}
.content_container .c2{
    width: 36%;
    float: right;
}
@media(max-width: 858px){
    .content_container{
        text-align: left;
        padding: 5% 8% 5% 8%;
    }
    .content_container .c1, .content_container .c3{
        width: 100%;
        float: none;
    }
    .content_container .c2{
        position: relative;
        width: 40%;
        float: right;
        margin: 20px;
    }
}

/* motto words in italic */
.content_container .c3 .motto_words{
    font-style: italic;
    font-weight: bold;
}

/* the round button */
.content_container .c3 .round_button{
    width: auto;
    padding: 13px 28px;
    margin: 5% 5% 0 0;
    display: inline-block;
    color: white;
    border-radius: 25px;
    background-color: #6847E5;
    border: 2px solid #6847E5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
    transition-duration: 0.2s;
}

/* the 'resume' round button */
.content_container .c3 .resume_button{
    color: #6847E5;
    background: none;
    box-shadow: none;
    border: 2px solid #6847E5;
}


/* add drop shadow when hovering on button */
.content_container .c3 .round_button:hover {
    /* background-color: #ED5565;
    border-color: #ED5565; */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* resume button- change to solid colour when hovering */
.content_container .c3 .resume_button:hover {
    background-color: #6847E5;
    border-color: #6847E5;
    color:white;
}

/* my img */
.content_container .c2 img{
    width: 80%;
    margin: 0 0 0 10%;
    vertical-align: middle;
    border-radius: 50%;
}
